html, body{
    height: 100%;
    box-sizing: border-box;
}

body{
    padding: 10em 2em 3em;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}
.main{
    max-width: 800px;
    margin: 0 auto;
}
#header{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}

#footer{
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}
